{{ include('partials/header.twig') }}

<h2 class="mb-4">Pokemon: {{ pokemon.name }}</h2>

<div class="row">
	<div class="col-4">
		<img
			src="{{ global.request.basepath }}/uploads/pokemons/{{ pokemon.id }}.png"
			width="100%"
			class="pixelated"
		>
	</div>
	<div class="col-8">
		<p><span class="text-muted">Name:</span> {{ pokemon.name }}</p>
		<p><span class="text-muted">Weight:</span> {{ pokemon.weight }} lbs</p>
		<p><span class="text-muted">Height:</span> {{ pokemon.height }} feets</p>
		<p><span class="text-muted">Types:</span> {{ pokemon.types|join(', ') }}</p>
	</div>
</div>

{{ include('partials/footer.twig') }}