{{ include('partials/header.twig', {title:'example'}) }}

	{{ value }}

	{% set foo = 'bar' %}
	{{ foo }}
	{{ global.request.basepath }}

	<div>{{ path('hello') }}</div>
	<div>{{ url('hello') }}</div>

{{ include('partials/footer.twig') }}